# SPDX-FileCopyrightText: 2024 DB Systel GmbH
#
# SPDX-License-Identifier: Apache-2.0

name: Test suites

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  # Test using the tool via poetry on different OSes and python versions
  test-os-python-matrix:
    runs-on: ${{ matrix.os }}
    strategy:
      max-parallel: 10
      # do not abort the whole test job if one combination in the matrix fails
      fail-fast: false
      matrix:
        python-version: ["3.10", "3.11", "3.12"]
        os: [ubuntu-22.04]
        include:
          - python-version: "3.10"
            os: macos-latest
          - python-version: "3.10"
            os: windows-latest

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: ./.github/actions/poetrybuild
        with:
          python: ${{ matrix.python-version }}
          poetry_args: --only main
      - name: Execute gh-org-mgr
        run: poetry run gh-org-mgr --help

  # Test building the package and installing it via pip3
  test-build-install:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Set up Python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: "3.14"
      - name: Install poetry
        run: pip install poetry
      - name: Build package
        run: poetry build
      - name: Install package
        run: pip3 install dist/github_org_manager-*.tar.gz
      - name: Run package
        run: |
          gh-org-mgr --version
          gh-org-mgr --help

  # Formatting
  pylint:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: ./.github/actions/poetrybuild
      - name: Lint with pylint
        run: poetry run pylint --disable=fixme gh_org_mgr/

  formatting:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: ./.github/actions/poetrybuild
      - name: Test formatting with isort and black
        run: |
          poetry run isort --check gh_org_mgr/
          poetry run black --check .

  mypy:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: ./.github/actions/poetrybuild
      - name: Test typing with mypy
        run: poetry run mypy

  # REUSE
  reuse:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Check REUSE Compliance
        uses: fsfe/reuse-action@676e2d560c9a403aa252096d99fcab3e1132b0f5 # v6.0.0
